<html>
<head>
<title>首 页 </title>
<!-- meta使用viewport以确保页面可自由缩放 -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- 引入 jQuery Mobile 样式 -->
<link rel="stylesheet" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">

<!-- 引入 jQuery 库 -->
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- 引入 jQuery Mobile 库 -->
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="pageone">
 <div data-role="header">
<h1>二 维 码 生 成 </h1>
  </div>
 <div data-role="content">
<form action="png.html" enctype="multipart/form-data"  method="POST">
请 输 入 要 生 成 的 字 符 串 <br><br>
<input type="text" name="char"><br>
<input type="submit" value="生 成 ">
</form><br>
<div data-role="popup" id="myPopup">
        <img src="/QR.png">
</div>
</div>
<div data-role="footer">
  <h3>©2017 www.lllwww.site </h3>
  </div>
</div>

</body>
</html>
